@import url(https://fonts.googleapis.com/css?family=Roboto);
#cssmenu {
  font-family: "Roboto", Helvetica, sans-serif;
}
#cssmenu i {
  margin-right: 5px;
}
#cssmenu ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none; 
}
#cssmenu ul li {
  text-align:center;
  position: relative;
  display: block;
}
#cssmenu ul li a {
  text-align:center;
  display: block;
  text-decoration: none;
  position: relative;
  height : 50px;
}
#cssmenu > ul {
  text-align:center;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background: #ffffff; 
}
#cssmenu > ul > li:first-child > a {
  border-radius: 3px 3px 0 0;
}
#cssmenu > ul > li:last-child > a {
  border-radius: 0 0 3px 3px;
}
#cssmenu > ul > li:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}
#cssmenu > ul > li.active > a {
  color: #777777;
  background-color: white;
}
#cssmenu > ul > li.has-sub > a::after {
  content: '';
  position: absolute;
  display: block;
  border: 5px solid transparent;
  border-top-color: #888888;
  right: 15px;
  top: 17px;
  transition: all .25s ease;
  transform-origin: 0 25%;
}
#cssmenu > ul > li.has-sub.active > a::after {
  transform: rotateX(180deg);
  border-top-color: #777777; 
}
#cssmenu > ul > li:hover > a::after {
  border-top-color: #777777;
  
}
#cssmenu > ul > li > a {
  padding: 12px 15px;
  color: #888888;
  transition: all 0.3s ease-out;
  font-size: 19px;
}
#cssmenu > ul > li > a:hover {
  color: white;
  background-color: #083B90;
}
#cssmenu ul ul li.active > a {
  background-color: white;
  color: #888888;
}
#cssmenu ul ul li.has-sub > a::after {
  content: '';
  position: absolute;
  display: block;
  border: 5px solid transparent;
  border-top-color: #888888;
  right: 15px;
  top: 15px;
  transition: all .25s ease;
  transform-origin: 0 25%;
  
}
#cssmenu ul ul li.has-sub.active > a::after {
  transform: rotateX(180deg);
  border-top-color: #777777;
}
#cssmenu ul ul li:hover > a::after {
  border-top-color: #777777;
}
#cssmenu ul ul li a {
  padding: 10px 15px;
  font-size: 16px;
  color: #888888;
  transition: all 0.3s ease-out;
}
#cssmenu ul ul li a:hover {
  background-color: #083B90;
  color: white;
}
#cssmenu ul ul ul li a {
  padding-left: 25px;
  font-size:14px;
}