<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<update id="updateBoard">
		update board set board_title=#{board_title}, board_content=#{board_content}, board_fname=#{board_fname}, board_category=#{board_category} where board_no=#{board_no}
	</update>
	
	<delete id="deleteBoard">
		delete board where board_no=#{board_no}
	</delete>
	
	<update id="increaseHit">
		update board set board_hit=NVL(board_hit, 0)+1 where board_no=#{board_no}
	</update>
	
	<select id="getBoard" resultType="board_vo">
		select * from board where board_no=#{board_no}
	</select>
	
	<select id="getBoardCategory" resultType="String">
		select board_category from board where board_boardno=#{board_boardno}
	</select>
	
	<!-- 모든 게시물 목록을 반환하는 메소드를 정의 -->
	<select id="findAll" resultType="board_vo">
		<![CDATA[
		select rn,board_no,board_boardno,board_category,board_title,
				board_content,board_regdate,board_hit,board_pwd,board_fname,std_no
		from
		 	(select rownum rn, board_no,board_boardno,board_category,board_title,
		 		board_content,board_regdate,board_hit,board_pwd,board_fname,std_no
		from
		 	(select * from board order by board_no desc, board_regdate desc)
		 
		where board_category like '%' ||#{board_category}|| '%' and board_boardno= #{board_boardno}
		]]>
		<if test="search != null and keyword != null and !keyword.equals('')">
			and ${keyword} like '%'||'${search}'||'%'
		</if>
				
		<![CDATA[)where rn >=#{start} and rn <=#{end}]]>
				
	</select>
	
	<!-- 선택한 게시판의 모든 게시물 수를 반환해주는 메소드 -->
	<select id="getBoardCount" resultType="java.lang.Integer">
		<![CDATA[
		select count(*) from board where board_boardno=#{board_boardno} 
		and board_category=#{board_category}
		]]>
		<if test="search != null and keyword != null and !keyword.equals('')">
			and ${keyword} like '%'||'${search}'||'%'
		</if>
		 order by board_no
	</select>
	
	<!-- 새로운 글 번호를 반환하는 쿼리문 -->
	<select id="getNextNo" resultType="java.lang.Integer">
		select nvl(max(board_no),0)+1 from board
	</select>
	
	<!-- 글 등록을 위한 쿼리문-->
	<insert id="insertBoard">
		insert into board 
		(board_no,board_boardno,board_category,board_title,
		board_content,board_regdate,board_hit,board_pwd,board_fname,std_no)
		values(
		#{board_no},
		#{board_boardno},
		#{board_category},
		#{board_title},
		#{board_content},
		sysdate,
		0,
		#{board_pwd},
		#{board_fname},
		#{std_no})
	</insert>
	
	<select id="getNextOrBeforeNo" parameterType="int" resultType="HashMap">
	<![CDATA[
		select * from (
		select board_no,
		lead(board_no,1) over (order by board_no) next_board_no,
		lag(board_no,1) over (order by board_no) before_board_no
		from board)
		where board_no=#{board_no}
		]]>
	</select>
	
</mapper>















