<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="professor">

	<select id="professorList" resultType="professor_vo">
		select * from professor where pro_no > 0 order by pro_type, pro_major
	</select>

	<insert id="professorInsert">
		insert into professor values(#{pro_no},#{pro_name},#{pro_email},#{pro_major},#{pro_type},#{pro_fname})
	</insert>
	
	<!-- professor 의 pro_type 은 college_no 와 연동되어있지 않다. 그러므로 pro_type 은 String ! -->
	<select id="findByType" resultType="professor_vo">
		select * from professor where pro_type = '${pro_type}' order by pro_major
	</select>

</mapper>















