<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="register">

	<select id="registerList" resultType="register_vo">
		select reg_no, reg_date, reg_semester, reg_level, reg_entfee, reg_fee, reg_regfee, r.std_no, reg_year, s.std_name 
		from register r, student s 
		where s.std_no=r.std_no and r.std_no=#{std_no} 
		order by reg_no
	</select>

	<select id="nextNo" resultType="java.lang.Integer">
  		select nvl(max(reg_no),0)+1 from register
  	</select>

	<insert id="registerInsert">
		insert into register values(#{reg_no},null,#{reg_semester},#{reg_level},#{reg_entfee},#{reg_entfee},0,#{std_no},#{reg_year})
	</insert>
	
	<select id="regfeeList" resultType="register_vo">
		select reg_no, reg_date, reg_semester, reg_level, reg_entfee, reg_fee, reg_regfee, r.std_no, s.std_name, reg_year 
		from register r, student s 
		where s.std_no=r.std_no and r.reg_regfee=0 
		order by reg_no
	</select>

	<update id="regfeeUpdate">
		update register set reg_fee=0, reg_regfee = reg_entfee,reg_date=sysdate where reg_no=#{reg_no}
	</update>
	

</mapper>















